html{
  background-color: #ffb380;
  font-family: 'Arvo', serif;
}

.titre{
  text-align: center;
  margin-top: 50px;
}

.center{
  display:flex;
  justify-content: center;
}

.corps{
  background-image: url(../image/qijx.png);
  background-size: auto;
  margin-top: 70px;
  width: 140px;
  height: 500px;
  margin-right: 200px;

}

.epaule {
     width: 50px;
     height: 50px;
     background: black;
     border-radius: 50px;
     opacity: 0.5;
     margin-top: 80px;
     margin-left: 1px;

   }


.coude{
    width: 50px;
    height: 50px;
    background:black;
    border-radius: 50px;
    opacity: 0.5;
    margin-top: 50px;
    margin-left: 100px;
}
.poignet{
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50px;
  opacity: 0.5;
  margin-top: -20px;
  margin-left: -10px;
}

.hanche{
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50px;
  opacity: 0.5;
  margin-left: 75px;
  margin-top: -20px;
}

.genou{
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 50px;
}

.cheville{

    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50px;
    opacity: 0.5;
    margin-left: 64px;
    margin-top: 15px;
}


.epaule:hover{
  background: red;
}
.coude:hover{
  background: red;
}
.poignet:hover{
  background: red;
}
.hanche:hover{
  background: red;
}
.genou:hover{
  background: red;
}
.cheville:hover{
  background: red;
}

.epauletxt{
  display: none;
  position: absolute;
  width: 150px;
  top: 18%;
  left: 51%;

}

.epaule:hover  .epauletxt{
  display:block;


}

.coudetxt{
  display: none;
  position: absolute;
  width: 150px;
  top: 18%;
  left: 51%;

}

.coude:hover .coudetxt{
  display: block;

}
.poignettxt{
  display: none;
  position: absolute;
  width: 150px;
  top: 18%;
  left: 51%;

}

.poignet:hover .poignettxt{
  display: block;

}
.hanchetxt{
  display: none;
  position: absolute;
  width: 150px;
  top: 18%;
  left: 51%;

}

.hanche:hover .hanchetxt{
  display: block;

}
.genoutxt{
  display: none;
  position: absolute;
  width: 150px;
  top: 18%;
  left: 51%;
}

.genou:hover .genoutxt{
  display: block;

}
.chevilletxt{
  display: none;
  position: absolute;
  width: 150px;
  top: 18%;
  left: 51%;


}

.cheville:hover .chevilletxt{
  display: block;



}
