body {
  font-family: 'Arvo', serif;
  background-color: #ffc266;
}

main {
display: flex;
justify-content: center;
}

#bg {
  background-image: url("../image/qijx.png");
  background-repeat: no-repeat;
  height: 500px;
  width: 150px;
  margin: auto;
}
h1 {
  text-align: center;
}

.epauletxt {
  position: absolute;
  width: 30%;
  top: 120px;
  right: 170px;
  text-align: justify;
  display:none;
}

.epaule {
  width: 50px;
  height: 50px;
  background: grey;
  border-radius: 50%;
  opacity: 0.7;
  margin-top: 80px;
}
.epaule:hover {background:red;}
.epaule:hover .epauletxt {display:block;}

.coudetxt {
  position: absolute;
  width: 30%;
  top: 120px;
  right: 170px;
  text-align: justify;
  display:none;

}
.coude {
  width: 50px;
  height: 50px;
  background: grey;
  border-radius: 50%;
  opacity: 0.7;
  margin-top: 40px;
  margin-left: 100px;
}

.coude:hover {background:red;}
.coude:hover .coudetxt {display: block;}


.maintxt {
  position: absolute;
  width: 30%;
  top: 120px;
  right: 170px;
  text-align: justify;
  display:none;

}
.main {
  width: 50px;
  height: 50px;
  background: grey;
  border-radius: 50%;
  opacity: 0.7;
  margin-top: 15px;
  }
  .main:hover {background:red;}
  .main:hover .maintxt {display: block;}

.cuissetxt {
  position: absolute;
  width: 30%;
  top: 120px;
  right: 170px;
  text-align: justify;
  display:none;

}
.cuisse {
    width: 50px;
    height: 50px;
    background: grey;
    border-radius: 50%;
    opacity: 0.7;
    margin-top: -30px;
margin-left: 70px;

}
.cuisse:hover {background:red;}
.cuisse:hover .cuissetxt {display: block;}

.genouxtxt {
  position: absolute;
  width: 30%;
  top: 120px;
  right: 170px;
  text-align: justify;
  display:none;
}

.genoux {
  width: 50px;
  height: 50px;
  background: grey;
  border-radius: 50%;
  opacity: 0.7;
  margin-top: 30px;
margin-left: 70px;
}
.genoux:hover {background:red;}
.genoux:hover .genouxtxt {display: block;}

.piedtxt {
  position: absolute;
  width: 30%;
  top: 120px;
  right: 170px;
  text-align: justify;
  display:none;
}

.pied {
  width: 50px;
  height: 50px;
  background: grey;
  border-radius: 50%;
  opacity: 0.7;
  margin-top: 50px;
margin-left: 70px;
}
.pied:hover {background:red;}
.pied:hover .piedtxt {display: block;}
